<h1>Log In</h1>

<form action='/users/new' method='get'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

	<p><label for='email'>Email:</label>
	<input id="email" name="email" type="text"></p>

	<p><label for='password'>Password:</label>
	<input type="password" id="password" name="password" type="text"></p>

	<p><input type="submit" value="Log In"></p>
</form>

<h1>Register</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
