<div class="container-fluid">
<h1>Welcome to DevFinder</h1>
		<form action="/projects" method="post">
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type="submit" value="Add a new Project">
		</form>

		<form action="/projects" method="get">
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type="submit" value="Look for Projects">
		</form>

		<form action="/users" method="get">
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type="submit" value="Look for Developers">
		</form>

		<form action="/users" method="post">
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type="submit" value="Sign In/Sign Up">
		</form>
</div>