<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/skel.min.js"></script>
    <script src="javascripts/skel-layers.min.js"></script>
    <script src="javascripts/init.js"></script>
    
    <link rel="stylesheet" href="stylesheets/skel.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/style-xsmall.css" />
    <link rel="stylesheet" href="stylesheets/style-xlarge.css" />
    <link rel="stylesheet" href="stylesheets/style-medium.css" />
    <link rel="stylesheet" href="stylesheets/style-small.css" />
    <link rel="stylesheet" href="stylesheets/style-large.css" />

  <title>Devinder</title>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%= yield %>

<footer id="footer">
                <div class="container">
                    <div class="row">
                        <section class="4u 6u(medium) 12u$(small)">
                            <h3>Company Info</h3>
                            <p>Find all the informaion you wanted to know about Devinder, here!</p>
                            <ul class="alt">
                                <li><a href="#">About Devinder</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </section>
                        <section class="4u 6u$(medium) 12u$(small)">
                            <h3>Resources</h3>
                            <p>Let us help you with some more additional resources!</p>
                            <ul class="alt">
                                <li><a href="#">Help & FAQ</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms of service</a></li>
                            </ul>
                        </section>
                        <section class="4u$ 12u$(medium) 12u$(small)">
                            <h3>Contact Us</h3>
                            <ul class="icons">
                                <li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
                                <li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
                                <li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
                            </ul>
                            <ul class="tabular">
                                <li>
                                    <h3>Address</h3>
                                    1234 Somewhere Road<br>
                                    San Jose, CA 00000
                                </li>
                                <li>
                                    <h3>Mail</h3>
                                    <a href="#">someone@untitled.tld</a>
                                </li>
                                <li>
                                    <h3>Phone</h3>
                                    (000) 000-0000
                                </li>
                            </ul>
                        </section>
                    </div>
                    <ul class="copyright">
                        <li>&copy; Untitled. All rights reserved.</li>
                        <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
                        <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
                    </ul>
                </div>
            </footer>

</body>
</html>
