<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/skel.min.js"></script>
    <script src="javascripts/skel-layers.min.js"></script>
    <script src="javascripts/init.js"></script>
    
    <link rel="stylesheet" href="stylesheets/skel.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/style-xsmall.css" />
    <link rel="stylesheet" href="stylesheets/style-xlarge.css" />
    <link rel="stylesheet" href="stylesheets/style-medium.css" />
    <link rel="stylesheet" href="stylesheets/style-small.css" />
    <link rel="stylesheet" href="stylesheets/style-large.css" />

  <title>Devinder</title>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
